.rojo{
    color: red;
}

.caja {
  width: 300px;
  height: 200px;
  background-image: url("../img/open_eye.png"); 
  background-size: cover;  
  background-position: center;
  border: 2px solid #000;
}

.caja:hover {
  transition: opacity 1.0s ease;
  background-image: url("../img/close_eye.png");
}
