
div{
    /*width: 200px;
    height: 200px;*/
    width: 20vw;
    height: 20vw;
    background-color: #669BBC;
    border: #003049 solid 2px;
    margin-bottom: 10px;
    /*margin-left: 50px;*/
    margin-left: 2vw;
    /*padding-top: 85px;*/
    padding-top: 8.5vw;
    box-sizing: border-box;
    text-align: center;
    float: left;
}
#d1,#d3{
    background-color: #C1121F
}

body{
    background-color: #FDF0D5;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    color:#003049;
}
h5{
    color:#003049;
}
p{
    color: #003049;
}
.centrado{
    text-align: center;
}
