body{
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    line-height: 1.6;
    font-size: 18px;
}

h1, h2, h3{
    color: #444;
}
