{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer sitio Django | {{ titulo }}</title>
    <link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">
</head>

<body>


    <h1>{{ titulo }}</h1>
    <hr>
    Hoy en Viña del Mar: {{ clima.Descripcion }} con una temperatura de {{ clima.Temperatura }} °C<br>
    Humedad: {{ clima.Humedad }} %<br>
    Viento: {{ clima.Viento }} km/h<br>
    Fecha y hora: {{ clima.Fecha }}<br>
    <hr>
    {% include 'core/nav.html' %}

    {% for producto in productos %}
        <a href="">{{ producto }}</a><br>

    {% endfor %}
</body>

</html>